<div class="col-12 col-lg-4">
    <div class="card amenities wow slideInUp">
        <div class="card-body">
            <div class="feature">
                <div class="feature-body">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                                class="img-fluid"
                                alt="{{ content.field_image['#items'].alt }}" 
                                title="{{ content.field_image['#items'].title }}">
                        </div>
                        <div class="col-12 col-lg-8 align-self-center">
                            <h4 class="card-title">
                                {{content.field_place.0}}
                                <span>{{content.field_value.0}}</span>
                            </h4>
                        </div>                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>